:root{
    --red:#FF0000;
    --lime:#0f4e0f;
    --blue:#0041C2;
    --yellow:#FFFF00;
    --white:#FFFFFF;
    --black:#000000;
}
body,h2{
    margin: 0px;
    }
.landing{
    background-image: url(media/bg3.jpg);
    background-size: cover;
    height: 100vh;
    color: var(--white);

}
header a{
    text-decoration: none;   
}
header{
    display: flex;
}
#logo{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 5em;
     flex: 3;
     color: #FFFFFF;
     padding: 2em;
}
nav{
    flex: 2;
    padding: 2em;
}
nav a{
    flex: 1;
    color: var(--white);
    padding: 2em;
    font-size: 1.5em;
}
nav a:hover{
    color:red;
}
.maintext{
    display: flex;
    flex-direction:column;
    height: 40vh;
    margin: 0.75em;
    
}
.tagline1{
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    display: flex;
    padding: .50em;
    

}
.tagline2{
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    display: flex;
    padding: .50em;
}
.Callus{
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    display: flex;
    padding: .50em;
    
}
.maintext div{
    margin-top: 1.75em;
}
.btn{ 
    margin-top: 2em;
    border-radius: 10px;
    padding: .7em;
    width: 20vh;
    padding: .50em;
    background-color: #FFFF00;
    font-size: 2em;
    border: #000000;

}

.menu{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
        background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
        font-size: 2em;
    }
    #menuheading,#locheading{
        background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
        font-size:2.5em;
        color:var(--red);
        display: flex;
        justify-content: center;
    }
   


table{
    width: 100%;
    padding: 1em;
}
.menu th{
    color:var(--black);
    font-size: 3em;
}
.menu tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
    color: var(--white);
}
.menu td :nth-child(1){
    flex: 1;
    justify-self: left;
    
}
.menu td :nth-child(2){
    justify-self: right; 
}
    .table{
        width:100%;
        padding:1em;
    }
    
    .locations address{
        color:white;
        font-size: 2em;
        justify-content: center;
    }
    
    .locations{
        display:flex;
        flex-wrap: wrap;
        justify-items: center;
        background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    }
    
    /* .locheading{
        font-size:3em;
        color:var(--red);
        display: flex;
        justify-content: center;
        
    } */
    .locations div h2{
        justify-content: center;
        color: var(--green);
        margin-top: .8em;
        display: flex;
        font-size: 3em;}
        
    
    .locations div{
        padding:1em;
        display: flex;
        flex:1;
       justify-content: space-around;
        font-size: 1em;
       
       
    }
    
  
footer{
    color: var(--white);
    background-color: grey;
}

nav i{
    margin: .5em;
}
.social-menu ul li .fab{
    font-size: 25px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #4267B2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #00ACEE;
}